<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!-- <h1>Built in filters</h1>
        <h2>{{data}}</h2>
        <h2>{{data|lower}}</h2>
        <h2>{{data|upper}}</h2>
        <h2>{{data|capfirst}}</h2>
        <h2>{{data|title}}</h2>
        <h2>{{data|length}}</h2>
        <h2>{{data|slice:'10'}}</h2>
        <h2>{{data|truncatewords:'1'}}</h2>
        <h2>{{data|truncatechars:'10'}}</h2>
        <h2>{{t}}</h2> -->
        <h2>{{t|date:'Y M l'}}</h2>
        <h2>{{t|date:'d'}}</h2>
        <h2>{{t|date:'j S'}}</h2>
        <h2>{{t|date:'m'}}</h2>
        <h2>{{t|date:'n'}}</h2>
        <h2>{{t|date:'b'}}</h2>
        <h2>{{t|date:'M'}}</h2>
        <h2>{{t|date:'F'}}</h2>
        <h2>{{t|date:'y'}}</h2>
        <h2>{{t|date:'Y'}}</h2>
        <h2>{{t|date:'D'}}</h2>
        <h2>{{t|date:'l'}}</h2>
        <h2>{{t|date:'G'}}</h2>
        <h2>{{t|date:'H'}}</h2>
        <h2>{{t|date:'g'}}</h2>
        <h2>{{t|date:'h'}}</h2>
        <h2>{{t|date:'a'}}</h2>
        <h2>{{t|date:'A'}}</h2>
        <h2>{{t|date:'i'}}</h2>
        <h2>{{t|date:'s'}}</h2>
        <h2>I have {{c}} tiger{{c|pluralize}}</h2>
        <h2>I have {{c}} orang{{c|pluralize:'es'}}</h2>
        <h2>This {{c}} pen{{c|pluralize}} {{c|pluralize:'is,are'}} Mine</h2>

    </center>
    
</body>
</html>